/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";




html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-right {
  width: 500px;
}

.w-250 {
  width: 250px;
}

.primary {
  color: #4e9066;
}

.mr-2 {
  margin-right: 8px;
}

.pt-2 {
  padding-top: 8px;
}

.flex-1 {
  flex: 1;
}


.border-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.border-r {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.headerBartID {
  height: 56px;
  align-items: center;
}

.left-layout {
  .mat-mdc-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  }

  .mat-mdc-form-field-infix {
    min-height: 48px !important;
    height: 48px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }





}

.mdc-data-table__row:last-child .mat-mdc-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;

}

.bg-th {
  background-color: #EAEEEF !important;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #E5F3E6;
}

.mat-mdc-icon-button {
  border-radius: 0px !important;
}

.mdc-text-field:not(.mdc-text-field--invalid):not(.mdc-text-field--focused):not(.mdc-text-field--disabled) {
  .mdc-notched-outline>* {
    border-color: rgba(0, 0, 0, 0.12) !important;
  }
}

.mat-tree-node:hover {
  background-color: #E5F3E6;
}
.tree {
  .mdc-icon-button {
    background-color: transparent !important;
  }
}

